*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

@font-face {
    font-family: CalibriB;
    src: url(../Fonts/CALIBRIB.TTF);
}

@font-face {
    font-family: Opensan;
    src: url(../Fonts/OpenSans-Regular.ttf);
}

#Why_Container{
    
    position: absolute;
    top:3137rem;
    // border:2rem solid black;
    justify-content: center;
    

    #Why_Heading{
        // border:3rem solid orange;
        font-family: UbantuM;
        font-size: 70rem;
        text-align: center;
        color:#164966;
    }

    #Template_container{
        // border:2px solid dodgerblue;
        height:1175rem;
        padding-top: 60rem;
        width:1654rem;

        
                .Template{
                    height:325rem;
                    
                    // border:2px solid green;
                    background: url("../Asset/Group\ 239.svg");
                    padding-left: 76rem;
                   



                    .HeadBlock{
                        width:934rem;
                       
                        // border:2px solid brown;
                        position: relative;
                        height: 100%;

                        .Heading{
                            font-size: 40rem;
                            font-family: CalibriB;
                            color:#000000;
                            position: absolute;
                            top:59rem;
                            
                        }

                        .SomeText{
                            font-family: Opensan;
                            font-size: 30rem;
                            color:#1A2E35;
                            // border:2px solid yellow;
                            position:absolute;
                            top:116.3rem;
                        }
                    }

                    .vectorBlock{

                        width:367rem;
                       
                        // border:2px solid brown;
                        height: 100%;
                       

                        img{
                            width: 100%;
                            height: 100%;
                        }

                    }
                   
                    }
    }
}

