*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#App_Container{
    width:1920rem;
    height:7249rem;
    border:1rem solid black;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position:absolute;
}

